//SHADES
$black:#181818;
$dark-gray: #4E4E4E;
$light-gray: #DCD9D9;
$white: #FFFDF5;
$cream: #FFFBEF;

//COLORS
$purple-blue:#5F5FFF;
$green: #4DCFD3;
$light-green: #7FDCE0;
$strong-pink: #FF3E6C;
$soft-pink: #FFC2D6;
$light-soft-pink: rgba(#FFC2D6, 0.5);
$yellow: #FFCC3E;








