* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &::before, &::after {
        box-sizing: border-box;}
}

body {
    overflow: scroll;
    position: relative;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}


a, a::before, a::after, a:visited, a:hover {
    text-decoration: none !important;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
}
