@font-face {  
    font-family: 'AveriaBold';
    src: url('../fonts/AveriaSerifLibre-Bold.ttf') format("truetype");
}

@font-face {  
    font-family: 'AveriaRegular';
    src: url('../fonts/AveriaSerifLibre-Regular.ttf') format("truetype");
}

@font-face {  
    font-family: 'PlusJakartaRegular';
    src: url('../fonts/PlusJakartaSans-Regular.woff2') format("woff2");
}


.h1 {
    font-family: 'AveriaBold', 'Times New Roman', Times, serif;
    letter-spacing: -0.6;
    line-height: 110%;
    color: $black;

    font-size: 3.75rem;
    
    @media (max-width: map-get($grid-breakpoints, xl)) {
        font-size: 3rem;
     }

     @media (max-width: map-get($grid-breakpoints, lg)) {
        font-size: 2.75rem;
     }

    @media (max-width: map-get($grid-breakpoints, sm)) {
        font-size: 2.375rem;
     }


    span {
        font-family: 'AveriaRegular', 'Times New Roman', Times, serif;
    }
}

.h2 {
    font-size: 2.375rem;
    font-family: 'AveriaRegular', 'Times New Roman', Times, serif;
    color: $black;

    @media (max-width: map-get($grid-breakpoints, lg)) {
        font-size: 1.5rem;
      }
}

.p-small {
    font-size: 1rem;

    @media (max-width: map-get($grid-breakpoints, lg)) {
        font-size: 0.875rem;
      }
}

p {
    font-family:'PlusJakartaRegular', 'Arial', sans-serif ;
    font-weight: normal;
    // font-size: 1.125rem;
    line-height: 170%;
    color: $black;
    font-size: 1.125rem;

    @media (max-width: map-get($grid-breakpoints, lg)) {
        font-size: 1rem;
      }
}

p {
    color: $dark-gray;
}
