@font-face {  
    font-family: 'AveriaBold';
    src: url('../fonts/AveriaSerifLibre-Bold.ttf') format("truetype");
}

@font-face {  
    font-family: 'AveriaRegular';
    src: url('../fonts/AveriaSerifLibre-Regular.ttf') format("truetype");
}

@font-face {  
    font-family: 'PlusJakartaRegular';
    src: url('../fonts/PlusJakartaSans-Regular.woff2') format("woff2");
}

.home__header {
    font-family: 'AveriaBold', 'Times New Roman', Times, serif;
    letter-spacing: -0.6;
    line-height: 110%;
    color: $black; 
    font-size: 3.815rem;

    @media (max-width: map-get($grid-breakpoints, lg)) {
        font-size: 3rem;
     }

     span {
        font-family: 'AveriaRegular', 'Times New Roman', Times, serif;
    }
}

.h1 {
    font-family: 'AveriaBold', 'Times New Roman', Times, serif;
    letter-spacing: -0.6;
    line-height: 110%;
    color: $black; 
    font-size: 3rem;


     @media (max-width: map-get($grid-breakpoints, lg)) {
        font-size: 2.44rem;
     }

    // @media (max-width: map-get($grid-breakpoints, sm)) {
    //     font-size: 2.375rem;
    //  }


    span {
        font-family: 'AveriaRegular', 'Times New Roman', Times, serif;
    }
}

.h2 {
    font-size: 1.95rem;
    font-family: 'AveriaRegular', 'Times New Roman', Times, serif;
    color: $black;

    @media (max-width: map-get($grid-breakpoints, lg)) {
        font-size: 1.563rem;
      }

    // @media (max-width: map-get($grid-breakpoints, sm)) {
    //     font-size: 1.7rem;
    //   }

    
}

.p-small {
    font-size: 1rem;

    @media (max-width: map-get($grid-breakpoints, lg)) {
        font-size: 0.8rem;
      }

    font-family:'PlusJakartaRegular', 'Arial', sans-serif ;
    font-weight: normal;
    line-height: 160%;
    color: $black;
}

p {
    font-family:'PlusJakartaRegular', 'Arial', sans-serif ;
    font-weight: normal;
    line-height: 160%;
    color: $black;
    font-size: 1.125rem;
    color: $dark-gray;

    @media (max-width: map-get($grid-breakpoints, lg)) {
        font-size: 1rem;
      }
}

