* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  overflow: scroll;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

a, a::before, a::after, a:visited {
  text-decoration: none;
}

@font-face {
  font-family: "AveriaBold";
  src: url("../fonts/AveriaSerifLibre-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "AveriaRegular";
  src: url("../fonts/AveriaSerifLibre-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PlusJakartaRegular";
  src: url("../fonts/PlusJakartaSans-Regular.woff2") format("woff2");
}
.h1 {
  font-family: "AveriaBold", "Times New Roman", Times, serif;
  letter-spacing: -0.6;
  line-height: 110%;
  color: #181818;
  font-size: 3.75rem;
}
@media (max-width: 1200px) {
  .h1 {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  .h1 {
    font-size: 2.375rem;
  }
}
.h1 span {
  font-family: "AveriaRegular", "Times New Roman", Times, serif;
}

p {
  font-family: "PlusJakartaRegular", "Arial", sans-serif;
  font-weight: normal;
  line-height: 170%;
  color: #181818;
  font-size: 1.125rem;
}
@media (max-width: 768px) {
  p {
    font-size: 1rem;
  }
}

p {
  color: #4E4E4E;
}

body {
  background-color: #FFFBEF;
}

@media (max-width: 576px) {
  .container {
    padding: 0px 20px;
  }
}

button {
  outline: none;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}

.greenButton {
  background-color: #4DCFD3;
  color: #181818;
  font-family: "AveriaBold", "Times New Roman", Times, serif;
  padding: 0.8rem 1.5rem;
  font-size: 1.125rem;
  border-radius: 12px;
  border: 2px solid #181818;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background-color 150ms cubic-bezier(0, 0, 0.58, 1);
}
@media (max-width: 768px) {
  .greenButton {
    font-size: 1rem;
  }
}
.greenButton::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #181818;
  border-radius: inherit;
  transform: translate3d(5px, 5px, -1px);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.greenButton:hover {
  background: #7FDCE0;
  transform: translate(-2px, -2px);
}
.greenButton:hover::before {
  transform: translate3d(7px, 7px, -1em);
}
.greenButton:active {
  background: #7FDCE0;
  transform: translate(5px, 5px);
}
.greenButton:active::before {
  transform: translate3d(0, 0, -1px);
}

.whiteButton {
  background-color: #FFFDF5;
  color: #181818;
  font-family: "AveriaBold", "Times New Roman", Times, serif;
  padding: 0.8rem 1.5rem;
  font-size: 1.125rem;
  border-radius: 12px;
  border: 2px solid #181818;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
}
@media (max-width: 768px) {
  .whiteButton {
    font-size: 1rem;
  }
}
.whiteButton::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #181818;
  border-radius: inherit;
  transform: translate3d(5px, 5px, -1px);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.whiteButton:hover {
  transform: translate(-2px, -2px);
}
.whiteButton:hover::before {
  transform: translate3d(7px, 7px, -1em);
}
.whiteButton:active {
  transform: translate(5px, 5px);
}
.whiteButton:active::before {
  transform: translate3d(0, 0, -1px);
}

.navbar {
  background-color: #FFFBEF;
  padding: 0.7rem 0;
  border-bottom: 0px solid #181818;
  transition: all 1s ease;
}
@media (max-width: 992px) {
  .navbar {
    padding: 1rem 0;
  }
}
.navbar-toggler {
  background-color: #4DCFD3;
  border-radius: 10px;
  border: 2px solid #181818;
  padding: 8px;
}
.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.navbar-toggler-icon {
  background-image: url("../../img/toggler.svg");
}
.navbar-toggler:hover {
  background: #4DCFD3;
  transform: none;
  transform: none;
}
.navbar-toggler:hover::before {
  transform: translate3d(5px, 5px, -1em);
}
.navbar-toggler:active {
  background: #7FDCE0;
  transform: translate(5px, 5px);
}
.navbar-toggler:active::before {
  transform: translate3d(0px, 0px, -1px);
}

.nav-link {
  color: #181818;
  font-family: "AveriaBold", "Times New Roman", Times, serif;
  font-size: 1.125rem;
  margin: 0.5rem;
}

.navbar-border {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-bottom: 2px solid #181818;
  transition: all 1s ease;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.home {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
}
@media (min-width: 992px) {
  .home {
    height: 100vh;
  }
}
.home__hero-image {
  align-items: center;
  justify-content: center;
}
.home__hero-image img {
  width: 100%;
  height: auto;
}
@media (max-width: 992px) and (min-width: 576px) {
  .home__hero-image img {
    width: 80%;
    height: auto;
  }
}

.video {
  background-color: rgba(255, 194, 214, 0.5);
  border-radius: 32px;
}
@media (min-width: 768px) {
  .video__col {
    padding: 3rem;
  }
}
.video__container {
  position: relative;
  padding-bottom: 56.25%;
  border-radius: 20px;
  background-color: #181818;
}
.video__container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #181818;
  border-radius: inherit;
  transform: translate3d(12px, 12px, -3px);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
@media (max-width: 768px) {
  .video__container::before {
    transform: translate3d(6px, 6px, -3px);
  }
}
.video__iframe {
  padding: 0;
  border: 2px solid #181818;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.video__image-img {
  width: 100%;
  height: auto;
}