.recommended {
    padding-top: 4.5rem;
    margin-top: 5rem;

    @media (max-width: map-get($grid-breakpoints, lg)) {
        padding-top: 3rem;
        margin-top: 2rem;
    }

    @media (max-width: map-get($grid-breakpoints, sm)) {
        padding-top: 2rem;
        margin-top: 2rem;
    }

    
    
    &__title {
        margin-bottom: 5rem;

        @media (max-width: map-get($grid-breakpoints, lg)) {
            margin-bottom: 3rem;
        }

        @media (max-width: map-get($grid-breakpoints, sm)) {
            margin-bottom: 2rem;
        }
    }

    .carousel__image {
        @media (max-width: map-get($grid-breakpoints, xl)) {
            max-width: 80%;
            height: auto;
        }
    }

    p {
        margin-bottom: 2rem;
    }

    .carousel__control-prev {

        @media (max-width: map-get($grid-breakpoints, lg)) {
            left: 15%;
          }

        left: 22%;
    }

    .carousel__control-next {

        @media (max-width: map-get($grid-breakpoints, lg)) {
            right: 15%;
          }

        right: 22%;
    }
}

.carousel__text {

    @media (min-width: map-get($grid-breakpoints, lg)) {
        padding-right: 2rem !important;
     }  
}