.carousel {

    &-inner {
        
        @media (min-width: map-get($grid-breakpoints, md)) {
            padding-bottom: 5.125rem;
          }

          @media (min-width: map-get($grid-breakpoints, lg)) {
            padding-bottom: 6.5rem;
          }
    }

    &__controls {
        @media (max-width: map-get($grid-breakpoints, md)) {
            transform: scale(0.7);
          }
    }


    &__control-prev, &__control-next {

      display: none;
          @media (min-width: map-get($grid-breakpoints, md)) {
            display: flex;
          }

        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background-color 150ms cubic-bezier(0, 0, 0.58, 1);
        background-color: $green;
        padding: 0.2rem;
        border-radius: 50px;
        border: 2px solid $black;
        width: 1.75rem;
        height: 1.75rem;
        padding: 0.45rem;
        opacity: 1;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        z-index: 2;
        margin-right: 15%;
        margin-bottom: 1rem;
        margin-left: 15%;

        &:hover, &:active {
            background: $light-green;

          }
        
  
    }

    &__control-prev {

        @media (max-width: map-get($grid-breakpoints, lg)) {
            left: 20%;
          }

        left: 25%;
    }

    &__control-next {

        @media (max-width: map-get($grid-breakpoints, lg)) {
            right: 20%;
          }

        right: 25%;
    }




    &-control-prev-icon {
        background-image: url("../../img/prev_icon.svg");
        width: 100%;
        height: 100%;
    }

    &-control-next-icon {
        background-image: url("../../img/next_icon.svg");
        width: 100%;
        height: 100%;
    }

    &-indicators{

       .active {
        background-color: $green;
        border: 2px solid $black !important;
        opacity: 1;

       }

       

        & [data-bs-target] {
            position: relative;
            cursor: pointer; 
            opacity: 1;          
            transition: opacity .6s ease;
            border: 2px solid $dark-gray;
            height: 8px;
            width: 8px;
            border-radius: 100%;
            margin: 0.375rem;

        }
    }

    &__text {
        @media (max-width: map-get($grid-breakpoints, md)) {
           margin: 2rem 0 4rem 0;
           padding: 0 1.5rem;
           
          }
    }

    &__image {

        max-width: 100%;
        max-height: 100%;
        

        @media (max-width: map-get($grid-breakpoints, md)) {
            width: 80%;
            height: auto;
          }
    }
}