.greenButton {
    background-color: $green;
    color: $black;
    font-family: 'AveriaBold', 'Times New Roman', Times, serif;
    padding: 0.8rem 1.5rem;
    font-size: 1.125rem;
    border-radius: 12px;
    box-shadow: 4px 4px 0px $black;
}